version: "3.3"
services:
  pad:
    image: alonalbert/enphase-monitor-server
    container_name: enphase-monitor-server
    user: "1000"
    network_mode: host
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - ./config:/config
    restart: unless-stopped


